<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    {% include 'bootstrap.html' %}
    <style>

      #people-image {
        height: 360px;
        border-radius: 10px;
        object-fit: cover;
        
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Jovian Careers</h1>
      <div class="row" style="margin-bottom: 16px;">
        <div id="company-introduction" class="col-md-6">
        <p id="company-introduction" class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur       accumsan ligula commodo rutrum auctor. Curabitur magna mauris, semper ac vehicula a, aliquam sit amet ipsum. Proin mattis tempus urna, quis rutrum erat commodo nec. Donec eu vulputate turpis. Vestibulum tortor ante, sagittis at egestas sit amet, ornare molestie diam. Duis ullamcorper pharetra eleifend. Sed vulputate magna arcu, scelerisque dapibus nunc tristique et. Vestibulum sed nibh vel odio feugiat eleifend et et elit. Curabitur ut vulputate nibh. Mauris ac placerat velit. Nunc vehicula ligula eget tortor tempus, ut aliquet ex suscipit.         
        </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img id="people-image" src="/static/people.jpg">
        </div>
      </div>
        <h2 id="list-of-jobs" class="text-center mt-2">Open Positions</h2>
        <p>
          {% for job in jobs %}
           {% include 'jobitem.html' %}
          {% endfor %}
        </p>
        <div class="text-center">
        <a href="mailto:hello@joviancareer.xyz?subject=Questions%20about%20job%20openings&body=My%20name%20is%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%20is%20%3Cyour%20question%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
   
    </div>
    {% include 'footer.html' %}
   
    
  </body>
</html>
